body {
    display: flex;
    flex-direction: column;
    background-color: rgb(172, 211, 243);
}

.logo {
    text-align: center;
    font-size: 2em;
    background-color: blue;
    color: white;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5vh;
}

.detail-image {
    width: 70vw;
    height: 60vw;
    border-radius: 25%;
}

.detail-title {
    display: block;
}

.thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    padding-left: 0;
    justify-content: space-evenly;

}

.thumbnails-item {
    width: 24vw;
    height: 20vw;
    margin-top: 2.5vh;
    border: solid white 1px;
    border-radius: 25%;
    overflow: hidden;
    /* to prevent the picture and the title out from the border */
}


.thumbnails-image {
    width: 24vw;
    height: 15vw;
    display: block;
    /* to rid the gap between image and it's title and to show the border below picture*/
}

.thumbnails-title {
    display: block;
    text-align: center;
    height: 5vw;
    background-color: rgb(27, 98, 206);
    color: azure;
}

.thumbnails-anchor {
    text-decoration: none;
}