body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

button {
    margin-right: 2vh;
}

.movies-list {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
    list-style-type: none;

}

.container-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    padding-left: 5vw;
}

.movie-item {
    list-style-type: none;
}

.movie-image {
    height: 50vh;
    padding-top: 10vh;
}

.movie-title-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 7vw;
    margin-right: 15vw;

}

.movie-title {
    font-size: 2em;
    background-color: blue;
    color: white;
    width: 25vw;
}

.movie-overview {
    display: block;
    text-align: center;
    background-color: blue;
    color: white;

}